.col-12
  %h5{:class => "card-text text-center mx-3 fw-bold"} 
    Numeros: 
.col-12
  %h5{:class => "card-text text-center mb-4 mx-3 fw-bold"}
    #{@place.place_numbers}
  %hr
.col-7
  %p{:class => "card-text mx-3 fw-bold"} 
    NUMEROS: 
.col-5
  %p{:class => "card-text text-end mx-3 fw-bold"}
    #{@draw.numbers}
.col-8
  %p{:class => "card-text mx-3 fw-bold"} 
    SERIE NUMERO: 
.col-4
  %p{:class => "card-text text-end mx-3 fw-bold"}
    #{@draw.id}
.col-5
  %p{:class => "card-text mx-3 fw-bold"} 
    PREMIO: 
.col-7
  %p{:class => "card-text text-end mx-3 fw-bold"}
    #{@draw.first_prize}
.col-6
  %p{:class => "card-text mx-3 fw-bold"} 
    PRECIO: 
.col-6
  %p{:class => "card-text text-end mx-3 fw-bold"}
    #{@draw.price_unit}0$
.col-5
  %p{:class => "card-text mx-3 fw-bold"} 
    TIPO: 
.col-7
  %p{:class => "card-text text-end mx-3 fw-bold"}
    #{@draw.type_of_draw}
.col-6
  %p{:class => "card-text mx-3 fw-bold"} 
    AGENCIA: 
.col-6
  %p{:class => "card-text text-end mx-3 fw-bold"}
    #{@agency.name}
.col-4
  %p{:class => "card-text mx-3 fw-bold"} 
    VENTA: 
.col-8
  %p{:class => "card-text text-end mx-3 fw-bold"}
    #{@place.created_at.strftime("%d/%m/%Y %H:%M")}
.divider
  %hr